<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SmartVolt Agency</title>
</head>
<body>
<div class="nav">
    <nav>
        <a href='/home'>Home</a>
        <a href="#">Battery Status</a>
        <a href="#">Purchase</a>
        <a href='/swap'>Battery Swap</a>
        <a href="#"id="input"><input id="search" type="text" placeholder="Search.." style="width: 300px;"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href='/' id="a"><i class="fa-regular fa-user"></i>LogOut</a>
        <a href='/a'>Admin Panel</a>
    </nav>
</div>
<div class="container">
    <h1>Welcome to SmartVolt - Powering the Future!</h1>
    <p>At SmartVolt, we believe that energy is the engine of progress. As a leading provider of smart battery solutions, we specialize in innovative, eco-friendly, and long-lasting battery technology designed for the modern world.
Whether you're looking to power your home, business, electric vehicle, or solar setup — we deliver intelligent energy storage systems tailored to your needs.
</p><p class="p1">
    <h3>Smart battery is not just a regular power source. It's an advanced battery system equipped with intelligent monitoring features like:</h3>
    <li>Battery health tracking</li>
	<li>Temperature and voltage regulation</li>
	<li>Real-time usage insights</li>
	<li>Auto power-saving modes</li>
</p>
<p class="p2"><h3>Explore our range of smart batteries for:</h3>
	<li>Homes</li>
	<li>Offices</li>
	<li>Electric Vehicles (EVs)</li>
	<li>Solar Storage Systems</li>
	<li>Industrial Backup</li></p>

 <p class="p3">
    <h3>Why Choose Us?</h3>
	<li>Cutting-edge battery technology</li>
	<li>energy solutions</li>
	<li>24/7 customer support</li>
	<li>Eco-conscious and sustainable</li>
	<li>Trusted by homes, industries, and institutions</li>
 </p> 
</div>
<div class="footer">
    <p>Contact Us: smartvoltagency@gmail.com; No: 9946375689;</p>
</div>
</body>
</html>