*{
    font-family: 'Segoe UI', sans-serif;
}
body{
    background: linear-gradient(to right, #c8e6c9, green);
}
.nav{
    height: 27px;
    background-color: #00796b;
    border-radius: 5px;
}
h1,h3{
    color: #283593;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: larger;
    margin-left: 30px;
}
#input{
    margin-left: 400px;
    

}
#search{
    border: #C5DCA0 solid 2px;
    border-radius: 5px;
}
#a{
    margin-left: 30px;
}
.container{
    padding: 5px;
}
.footer{
    color: #004d40;
    text-align: center;
}